@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NippoBold";
  src: local("NippoBold"),
    url("/public/fonts//NippoBold.ttf") format("opentype");
}

@font-face {
  font-family: "NippoExtralight";
  src: local("NippoExtralight"),
    url("/public/fonts//NippoExtralight.ttf") format("opentype");
}

@font-face {
  font-family: "NippoLight";
  src: local("NippoLight"),
    url("/public/fonts//NippoLight.ttf") format("opentype");
}

::-webkit-scrollbar {
  @apply w-1.5 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-orange;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-hover;
}

body {
  @apply min-h-screen m-0 bg-primary text-gray-400;
  font-family: "NippoLight" !important;
}

.buy_card {
  @apply block p-6 bg-primary rounded-lg w-full;
}

.main_btn {
  @apply px-2 py-3 bg-orange text-black font-semibold rounded-full text-center hover:bg-hover transition ease-in-out;
}

.tr {
  @apply bg-secondary border-t border-border cursor-pointer flex justify-between last:rounded-b-lg hover:bg-secondary/80 transition ease-in-out;
}

.action_panel_container {
  @apply flex flex-col md:flex-row justify-between p-2 lg:p-3 w-full border border-border last:rounded-b-md;
}

.action_panel {
  @apply flex flex-row md:flex-col items-center md:items-start justify-between md:justify-center w-full lg:w-1/4;
}

.tab_panel {
  @apply lg:w-[370px] w-[270px] h-12 lg:h-14 rounded-full bg-secondary mb-2 flex justify-center p-1;
}

.tab_panel .tab_button {
  @apply w-1/2 h-full rounded-full flex justify-center items-center cursor-pointer hover:text-orange;
}

.tab_panel .tab_button.active {
  @apply text-orange  bg-primary;
}
